</section>
<footer class="bg-info fixed-bottom"><i class="material-icons" style="color:white">
  local_phone
  </i>
  <span class="text-light">  818-340-2275  </span>
  <i class="material-icons" style="color:white">
    my_location
    </i>
    <span class="text-light">
      20920 Victory Blvd, Woodland Hills, CA 91367  
    </span>
    <span class="justify-content-end"><i class="material-icons md-72" style="color:white">pets</i></span>
    </footer>

</body>
</html>
