</section>
<footer class="bg-info fixed-bottom p-3">
  <span class="text-light d-flex justify-content-start align-content-middle">
    <i class="material-icons" style="color:white">
      local_phone
    </i>
      818-340-2275 &ensp;

    <i class="material-icons" style="color:white">
      my_location
    </i>
    <a href="https://goo.gl/maps/8DtMWiB9Zd4pCuug8" style="color:white" target="_blank">
        20920 Victory Blvd, Woodland Hills
      </a>
        <a href="http://pamperedpethotels.com" style="color:white" class="hoverlink right" target="_blank">Visit Our
          Website</a>
        </span>

</footer>

</body>

</html>
