</section>
<footer class="bg-info fixed-bottom p-3">
  <span class="text-light d-flex justify-content-start align-content-middle">
    <i class="material-icons" style="color:white">
      local_phone
    </i>
      818-340-2275 &ensp;

    <i class="material-icons" style="color:white">
      my_location
    </i>
        20920 Victory Blvd, Woodland Hills
  </span>
  <span class="align-middle">
    <a href="http://pamperedpethotels.com" style="color:white" class="d-flex justify-content-end" target="_blank"><strong>Visit Our
        Website</strong></a>
  </span>

</footer>

</body>

</html>
