<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PPHS</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Capriola&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/images/pawprint.jpg">

</head>
<body>
        <nav class="navbar bg-primary sticky-top" id="header">

          <a href="/user" class="hoverlink" style="color:white"><i class="material-icons md-72">
            pets
            </i>
            Home
          </a>
                  <ul class="navbar-nav">

                        <a href="/logout" style="color:white" class="hoverlink"><i class="material-icons md-72" style="color:white">trending_flat</i>Log Out</a>


                  </ul>
              </nav>
<section class="m-5">