<%- include('../../partials/head') %>

<form action="/user/<%= id %>/dogs" method="POST">
	Dog's Name: <input type="text" name="dogName" class="white-text"><br>
	Breed:<input type="text" name="breed" class="white-text"><br>
	Age: <input type="number" name="age" class="white-text"><br>
	Vaccination Dates: <input type="date" name="vaccinationDates" class="white-text"><br>
    Food Brand: <input type="text" name="foodBrand" class="white-text"><br>
    Feeding frequency (assume 12 hours): <input type="number" name="feedingFrequency" class="white-text"><br>

	Notes?: <textarea name="notes" class="white-text" width="50%" rows="10"></textarea>
    <br>
	
	<button type="submit" class="btn btn-primary">Add dog</button>
  </form>
  

  <%- include('../../partials/footer') %>