<%- include('../partials/head') %>

<br>
<form action="/user/<%= id %>" method="POST">
	Full Name: <input type="text" name="name" class="white-text" placeholder="<%= user.name %>"><br>
	Email:<input type="text" name="email" class="white-text"><br>
	Authorized Persons:<input type="text" name="authorizedppl" class="white-text"><br>
	Phone Number: <input type="number" name="phone" class="white-text"><br>
	Street Address: <input type="number" name="streetAdd" class="white-text"><br>
	Street Name: <input type="text" name="street" class="white-text"><br>
	City: <input type="text" name="city" class="white-text"><br>
	Zip: <input type="number" name="zip" class="white-text"><br>
	Vet Name: <input type="text" name="vetName" class="white-text"><br>
	Emergency Contact First Name: <input type="text" name="emergencyContactfn" class="white-text"><br>
	Emergency Contact Last Name:<input type="text" name="emergencyContactln" class="white-text"><br>
	
	<button type="submit" class="btn btn-primary">Update Profile</button>
  </form>


</body>
</html> 