* {
  box-sizing: border-box;
  
}


:root {
  --mainColor: #E79A9C;
}

body {
  margin: 0;
  text-decoration: none;
}

body :hover{
  text-decoration: none;
}

.hoverlink {
  background:
     linear-gradient(
       to left,
       var(--mainColor) 0%,
       var(--mainColor) 0%,
       transparent 0px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}
.hoverlink:hover {
  background:
  linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent
  );
  text-decoration: none;
}

.right {
  margin: 0 auto;

}

#circle {
  height:200px;
  width:200px;
  border-radius:50%;
  background-image: url("/images/snickers.jpg");
  background-position:center;
  background-size:cover;
  border: 5px solid black;

  margin: 0 auto;

}

.img-center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}