* {
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
  
}


:root {
  --mainColor: #E79A9C;
}

body {
  margin: 0;
  text-decoration: none;
}

body :hover{
  text-decoration: none;
}

#header {
  height: 10vh;
}

@media only screen and (min-width: 768px) {
  #header {
    background-image: url("/images/header.png");
    background-position:center;
    background-size:cover;
    background-repeat: repeat-y;
    opacity: 0.8;
  }

}

.speech-bubble {
  position: relative;
  color: white;
  background: black;
  border-radius: .4em;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 30%;

}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-left-color: black;
  border-right: 0;
  border-bottom: 0;
  margin-top: -12px;
  margin-right: -24px;
}



#snickers-wrapper {
  display: flex;
  justify-content: space-evenly;

}

.hoverlink {
  background:
     linear-gradient(
       to left,
       var(--mainColor) 0%,
       var(--mainColor) 0%,
       transparent 0px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}
.hoverlink:hover {
  background:
  linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 5px,
    transparent
  );
  text-decoration: none;
}

.right {
  margin: 0 auto;

}

#circle {
  height:200px;
  width:200px;
  border-radius:50%;
  background-image: url("/images/snickers.jpg");
  background-position:center;
  background-size:cover;
  border: 5px solid black;
  opacity: 0.8;
  margin: 0 auto;

}

#circle:hover{
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}

.img-center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

